doctype html
html
  head
    link(rel="stylesheet", href="/styles/components/pure/pure-min.css")
    link(rel="stylesheet", href="/styles/main.css")
  body
    div(ng-app="app")
      .header
        .pure-menu.pure-menu-open.pure-menu-horizontal
          a.pure-menu-heading Battle City Online!

      .content
        #pixi-container

    //Vendor deps
    script(src="/scripts/vendor/stats.min.js")
    //Bower deps
    script(src="/scripts/components/underscore/underscore.js")
    script(src="/scripts/components/angular/angular.min.js")
    script(src="/scripts/components/pixi/bin/pixi.dev.js")
    script(src="/scripts/components/keydrown/dist/keydrown.min.js")
    //Main file
    script(src="/scripts/app.js")

